.component__categories {
  margin-bottom: 70px;
  &-title {
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -0.04em;
    text-align: start;
    margin-bottom: 40px;
    color: #000000;
  }
}

.categories {
  display: flex;
}
.categories__card {
  text-decoration: none;
  width: 180px;
  background: linear-gradient(
    180deg,
    rgba(108, 198, 63, 0) 0%,
    rgba(108, 198, 63, 0.1) 100%
  );
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
  margin-right: 40px;
  cursor: pointer;
  &:last-child {
    margin-right: 0px;
  }
  &-img {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
  }
  &-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 20px;
  }
}
