.detailed__directions {
  display: flex;
  flex-direction: column;
  text-align: justify;
  &-title {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.04em;
    color: #000000;
  }
}
.direction {
  padding: 40px 24px 40px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  user-select: none;
  &__step {
    display: flex;
    margin-bottom: 30px;
    align-items: flex-start;
    &-title {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: rgba(0, 0, 0, 0.6);
    }
  }
  &__wrapper {
    display: flex;
    justify-content: center;
  }
}

.direction__ingredients {
  width: 300px;
  margin-right: 20px;
  background: #e7f9fd;
  border-radius: 30px;
  padding: 25px;

  &:last-child {
    margin-right: 0px;
  }
  &-title {
    font-family: "Inter", sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #000000;
    &:first-letter {
      text-transform: uppercase;
    }
  }
  &-step {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
    padding: 16px 0 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    //  text-align: center;
    &:first-letter {
      text-transform: uppercase;
    }
  }
}

.direction__tool {
  width: 300px;
  margin-right: 20px;
  background: #e7f9fd;
  border-radius: 30px;
  padding: 25px;

  &:last-child {
    margin-right: 0px;
  }
  &-title {
    font-family: "Inter", sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #000000;
    &:first-letter {
      text-transform: uppercase;
    }
  }
  &-step {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
    padding: 16px 0 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    //  text-align: center;
    &:first-letter {
      text-transform: uppercase;
    }
  }
}

.hiden {
  display: none;
  &:first-child {
    display: block;
  }
}

.task__btn {
  display: flex;
  padding: 0;
  margin: 3px 25px 0 0;
  border: none;
  //   font: inherit;
  //   color: inherit;
  background-color: transparent;
  cursor: pointer;
  &-img {
    width: 24px;
    height: 24px;
  }
}

// .checkbox-done {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
// }

// .checkbox-done:before {
//   content: "";
//   display: inline-block;
//   width: 16px;
//   height: 16px;
//   margin-right: 5px;
//   vertical-align: middle;
//   background: url("src/UI/RecipeDetails/img/circle.svg") no-repeat;
// }
