.recipe__summury-wrapper {
  margin-bottom: 30px;
}

.block__left {
  display: flex;
  justify-content: space-between;
  &-img {
    width: 790px;
    border-radius: 30px;
    margin-bottom: 25px;
  }
  &-text {
    width: 100%;
    text-align: justify;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
  }
}
